@import url(navmobile.css);

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    background-color: gray;
    flex-wrap: wrap;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100%;
    padding: 10px;
    color: rgb(204, 132, 38);
    font-family: 'Satisfy', cursive, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline rgb(211, 164, 35);
}

h1{
    background-color: rgb(0, 100, 0);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.623);
    padding: 3px;
    border-radius: 6px;
    align-self: center;
}

@media (min-width: 999px) {
    .nav-list{
        flex-direction: row;
    }
    
    .nav + .nav{
        margin-left: 15px;
    }
}

section{
    padding: 10px;
    height: auto;
}

section.um{
    display: flex;
    background-color: rgba(255, 255, 0, 0.212);
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    
}

.text{
    max-width: 600px;
}

.fotos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    row-gap: 20px;
}

.imagem{
    background-color: white;
    width: 200px;
    height: 200px; 
    margin: 20px;
}

.links{
    background-color: rgba(0, 128, 0, 0.377);
}

footer{
    background-color: rgba(128, 128, 128, 0.322);
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}