*{
    margin: 0;
    padding: 0;
}

.conteiner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.album{
    width: 200px;
    height: 200px;
    background-color: #808080;
    margin: 5px;
}

.um {
    background-color: #BB6B46;
}
.do {
    background-color: #E5AB83;
}
.tr {
    background-color: #9D5336;
}
.qu {
    background-color: #BAB29D;
}
.ci {
    background-color: #FBFCFE;
}